<h2>Candidatura al progetto "{{candidatura.progetto.titolo}}"</h2>

<p>
    <span *ngFor="let competenza of candidatura.progetto.competenzas" class="badge rounded-pill bg-info mx-1">{{competenza.tag}}</span>
</p>

Questa candidatura viene presentata a nome di: <strong>{{candidatura.soggetto.denominazione}}</strong>

<form ngNativeValidate>

    <div>
		<label class="form-label">Descrivi qui perché dovrebbero prendere in considerazione la tua / vostra candidatura</label>
		<textarea class="form-control" name="autopromozione" [(ngModel)]="candidatura.autopromozione" required></textarea>
	</div>

</form>

<h4>Soggetti invitati</h4>

<ul>
    <li *ngFor="let invito of candidatura.inviti" class="invito" [ngClass]="{'accettato' : !invito.accettazioneNull && invito.accettazione, 'rifiutato' : !invito.accettazioneNull && !invito.accettazione}">
        {{invito.invitato.denominazione}}
        <span *ngFor="let competenza of invito.invitato.competenzas" class="competenza badge rounded-pill bg-info mx-1">{{competenza.tag}}</span>
        <br/>
        "{{invito.noteInvito}}"
        <br/>
        <span class="badge bg-success accettato">Invito accettato</span>
        <span class="badge bg-danger rifiutato">Invito rifiutato</span>
    </li>
</ul>

<h4>Soggetti da invitare (<em>con competenze compatibili a quelle richieste dal progetto</em>)</h4>

<div>

    <div *ngFor="let soggettoUtente of candidatura.soggettiUtenteSuggeritiPerInvito; let invitoIndex = index;" class="row mb-2">
        <div class="col">
            {{soggettoUtente.denominazione}}
            <span *ngFor="let competenza of soggettoUtente.competenzas" class="badge rounded-pill bg-info mx-1">{{competenza.tag}}</span>
        </div>
        <form #invitoForm{{invitoIndex}}="ngForm" class="input-group col" ngNativeValidate>
            <input [(ngModel)]="inviti[invitoIndex].noteInvito" name="noteInvito" type="text" class="form-control" required placeholder="Testo dell'invito">
            <button class="btn btn-outline-primary" type="submit" (click)="invita(invitoIndex)" [disabled]="!inviti[invitoIndex].noteInvito">Invita</button>
        </form>
    </div>

</div>