<form #myForm="ngForm" ngNativeValidate>

    <h2>{{progetto.titolo}}</h2>
    <h4>Progetto a cura di: {{progetto.proponente?.denominazione}}</h4>
    
	<div class="form-group">
		<label>Il titolo del progetto {{progetto.titolo}}</label>
		<input type="text" [(ngModel)]="progetto.titolo" class="form-control" name="titolo" required/>
	</div>
	
	<div class="form-group">
		<label>La descrizione del progetto</label>
		<textarea [(ngModel)]="progetto.descrizione" class="form-control" name="descrizione" required></textarea>
	</div>
	
	<div class="form-group">
		<label>Gli obiettivi del progetto</label>
		<textarea [(ngModel)]="progetto.obiettivi" class="form-control" name="obiettivi" required></textarea>
	</div>
    
    <div class="form-group mt-3">
        <button class="btn btn-outline-success" type="submit" (click)="submit()">Salva</button>
        <button *ngIf="progetto.stato === 'IN_MODIFICA'" class="btn btn-outline-danger ms-3" type="submit" (click)="pubblica()">Pubblica progetto</button>
    </div>
    
    <form class="form-group">
        <label>Competenze tags</label>
        <div *ngFor="let competenza of progetto.competenzas">
            <div class="input-group mt-3">
                <input type="text" class="form-control" name="{{competenza.tag}}" value="{{competenza.tag}}" readonly>
                <button class="btn btn-outline-danger" type="button" (click)="delTag(competenza.tag)">Rimuovi</button>
            </div>
        </div>
        <div class="input-group mt-3">
            <input type="text" class="form-control" [(ngModel)]="newTag" name="newTag">
            <button class="btn btn-outline-success" type="submit" (click)="addTag()">Aggiungi</button>
        </div>
    </form>
    
</form>