<form #myForm="ngForm" ngNativeValidate>

    <h2>{{progetto.titolo}}</h2>
    
	<div class="form-group">
		<label>Il titolo del progetto</label>
		<input type="text" [(ngModel)]="progetto.titolo" class="form-control" name="titolo" required/>
	</div>
	
	<div class="form-group">
		<label>La descrizione del progetto</label>
		<textarea [(ngModel)]="progetto.descrizione" class="form-control" name="descrizione" required></textarea>
	</div>
	
	<div class="form-group">
		<label>Gli obiettivi del progetto</label>
		<textarea [(ngModel)]="progetto.obiettivi" class="form-control" name="obiettivi" required></textarea>
	</div>
    
    <div class="form-group">
        <label>Competenze tags</label>
        <div *ngFor="let competenza of progetto.competenzas">
            <div class="input-group mt-3">
                <input type="text" class="form-control" name="{{competenza.tag}}" value="{{competenza.tag}}" readonly>
                <button class="btn btn-outline-danger" type="button" (click)="delTag(competenza.tag)">Rimuovi</button>
            </div>
        </div>
        <div class="input-group mt-3">
            <input type="text" class="form-control" [(ngModel)]="newTag" name="newTag">
            <button class="btn btn-outline-success" type="button" (click)="addTag()">Aggiungi</button>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-outline-success" type="submit" (click)="submit()">Salva</button>
    </div>

</form>