<div class="mt-3" *ngIf="soggettoService.soggettiAutorizzazioneGestioneProgetto?.length">
    <a routerLink="/crea-progetto" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Crea nuovo progetto</a>
</div>

<div *ngFor="let progetto of progettoService.progettiVisibili" class="card mt-3">
    <h5 class="card-header">{{progetto.owner.denominazione}}</h5>
    <div class="card-body">
      <h5 class="card-title">{{progetto.titolo}}</h5>
      <p class="card-text">
        <span *ngFor="let competenza of progetto.competenzas" class="badge rounded-pill bg-info mx-1">{{competenza.tag}}</span>
      </p>
      <h5 class="card-title">Descrizione</h5>
      <p class="card-text">{{progetto.descrizione}}</p>
      <h5 class="card-title">Obiettivi</h5>
      <p class="card-text">{{progetto.obiettivi}}</p>
      <a [routerLink]="['/modifica-progetto',progetto.id]" class="btn btn-primary">Modifica</a>
      <a *ngIf="progetto.stato === 'PUBBLICATO'" [routerLink]="['/gestisci-candidatura-progetto',progetto.id]" class="btn btn-danger">Candidati</a>
    </div>
</div>